main.aux
main.fdb_latexmk
main.fls
main.log
main.synctex.gz
outline.aux
outline.fdb_latexmk
outline.fls
outline.log
outline.synctex.gz
figures/make_figure/__pycache__/graph_style.cpython-312.pyc
chapters/appendix.aux
chapters/ch0-motivation.aux
chapters/ch1-apparatus.aux
chapters/ch2-characterisation.aux
chapters/ch3-outlook.aux
text/appendix.aux
main.bbl
main.bcf
main.blg
main.lof
main.maf
main.mtc
main.mtc0
main.mtc1
main.mtc2
main.mtc3
main.mtc4
main.mtc5
main.mtc6
main.mtc7
main.out
main.run.xml
main.toc
main.bbl-SAVE-ERROR
figures/make_figure/NPL_trap.afdesign~lock~
DJW_conf_250528.pdf
DJW_conf_310528.pdf
completion_plan/plan.aux
completion_plan/plan.fdb_latexmk
completion_plan/plan.fls
completion_plan/plan.log
completion_plan/plan.synctex.gz
chapters/overview.aux
chapters/ch3-k_copy_rb.aux
chapters/ch5-virtual_distillation.aux
chapters/ch6-conclusion.aux
chapters/ch4-motional_interactions.aux
